# Gemini API Key of AI Multi-Agent Project is AQ.Ab8R**********92OQ
# Gemini API Key of AI Multi-Agent 2nd Project (Gemini CLI) is AQ.Ab8RN6************bjyaLg
# Gemini API Key of Default Gemini Project - Claude Code Router is AQ.Ab8RN*************1ZnBsA


GEMINI_API_KEY=AQ.Ab8************92OQ
DEFAULT_LLM_PROVIDER=gemini
DEFAULT_LLM_MODEL=gemini-3.1-flash-lite
DEFAULT_LLM_TIMEOUT=30

#Groq API Key

GROQ_API_KEY=gsk_cXUU*********znxlv

#TAVILY_API_KEY
TAVILY_API_KEY=tvly-dev-1SLMlt-*******qaZ4ymB6o